*{
margin: 0;
padding: 0;
}
body::-webkit-scrollbar{
    display: none;
}

#header{
    height: 15vh;
    width: 100vw;
    background-color: black;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
#header span{
    border: 2px solid blue;
    color: white;
    padding: 1vh 2vw;
    border-radius: 2vw;
}
#header span a{
    text-decoration: none;
    color: white;

}
#main{
    background: linear-gradient(to bottom right, #1c1b40,#b80e65,#179181);
    min-height: 90vh;
}
#findProjectForm{
    width: 100vw;
    height: 24vh;
    display: flex;
    justify-content: center;
    align-items: center;

}
#FindP{
    width: 60vw;
    height: 8vh;
    border-radius: 5vh;
    border: 2px solid #32defd;
    background: transparent;
    font-size: larger;
    font-weight: 600;
    color: #ffffff;
}
#FindP::placeholder{
    color: #ffffff;
}
#findPBtn{
    width: 10vw;
    height: 9vh;
    border-radius: 5vh;
    border: 2px solid #32defd;
    background: transparent;
    color: #ffffff;
    font-size: larger;
    font-weight: 600;
}
#pDiv{
    height:fit-content;
    width: fit-content;
}
#singlePro{
    height: fit-content;
    width: 40vw;
    margin: 5vh 5vw;
    padding: 4vh 2vw;
    border: 2px solid blue;
    border-radius: 5vh;
    color: #ffffff;
    font-size: large;

}
svg{
    position: absolute;
   top:60%
}