* {
  margin: 0;
  padding: 0;
}
body {
  overflow-x: hidden;
}
body::-webkit-scrollbar {
  display: none;
}
.singlePro {
  height: max-content;
  width: 97vw;
  border: 2px solid blue;
  border-radius: 5px;
  color: black;
  margin: 1vh 1vw;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.problem-form textarea {
  resize: none;
}
.problem-form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
#btnSol {
  height: 8vh;
  width: 16vw;
  text-align: center;
  margin: 1vh 2vw;
}
.main {
  height: fit-content;
  width: 100vw;
  overflow-x: scroll;
  top: 12vh;
}
.main::-webkit-scrollbar {
  display: none;
}
.footer {
  height: 10vh;
  width: 100vw;
}
#header {
  height: 16vh;
  width: 100vw;
  background: black;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
#header span a {
  text-decoration: none;
  font-size: larger;
  color: white;
}
#header span {
  border: 2px solid blue;
  border-radius: 2vh;
  overflow: hidden;
  padding: 1vh 1vw;
}
#header span:hover{
    padding: 2vh 2vw;
  
  }
