@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
* {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}
body::-webkit-scrollbar{
  display: none;
}
#nav {
  height: 20vh;
  width: 100vw;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: black;
}

#nleft > span > img {
  height: 10vh;
}
#nleft {
  width: 30vw;
  text-wrap: nowrap;
}
#nleft > span {
  background: linear-gradient( #00CCFF,#FDFD1E);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
  height: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
}
#nright {
  width: 50vw;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
#nright a {
  background: linear-gradient( #00CCFF,#FDFD1E);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
  color: transparent;
  font-size: larger;
}
#main{
  background-color: #0014ff;
}
#left {
  color: white;
  height: 50vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-wrap: nowrap;
  background: linear-gradient(#0014ff, #ff2cdf);
  font-size: xx-large;
  font-weight: bolder;
}
#right {
  height: 50vh;
  width: 100vw;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  background: linear-gradient(#0014ff,#ff2cdf);

}
#left p{
  overflow: hidden;
}
.typed-cursor.typed-cursor--blink{
  display: none;
}
#footer{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  color: white;
  font-size: x-large;
  font-weight: 900;
  height: 8vh;
}
#flex{
  background: linear-gradient( #00CCFF,#FDFD1E);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
}
.indiv2 button a{
  text-decoration: none;
  color:white;
  font-size: larger;

}
.indiv2 button{
  background-color: transparent;
  border: none;

}
.features1{
  height: 70vh;
  width: 100vw;
  background: linear-gradient(#0014ff,#ff2cdf);
  display: flex;
  justify-content: center;
  align-items: center;

}
.features1>img{
  height: 50vh;
  image-rendering: optimizeQuality;
}
.align1{
  height: fit-content;
  width: 25vw;
  overflow-wrap:break-word ;
  color: azure;
  font-size: large;
}
.align1>div{
  margin: 2vh;
  height: fit-content;
}
.align2{
  height: fit-content;
  width: 25vw;
  overflow-wrap:break-word ;
  color: azure;
  font-size: large;
}
.align2>div{
  margin: 2vh;
  height: fit-content;
  text-align: right;
}
#svg{
  background-color: #ff2cdf;
}