* {
  margin: 0;
  padding: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
#header {
  width: 100vw;
  height: 15vh;
  display: flex;
  align-items: center;
  justify-content: space-around;
  background: #000000;
  color: white;

}
body::-webkit-scrollbar{
  display: none;
}
body{
  background: linear-gradient(#1eadf0,#0afb60);
}
.footer {
  height: 10vh;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
  color: white;
}
.main {
  height: max-content;
}
#problemD {
  width: 70vw;
  height: 24vh;
  border: 2px solid white;
  background: transparent;
  color: #ffffff;
  border-radius: 1vh;
  resize: none;
  text-align: center;
  font-size:x-large;
  border:none;
}
#problemD::placeholder{
  color: #ffffff;
}
.quesEntr {
  left: 80%;
}
.givSol {
  right: inherit;
}
.seeSol {
  left: 25%;
}
.main button a {
  text-decoration: none;
  color: black;
}
#typeP {
  height: 6vh;
  width: 40vw;
  resize: none;
  font-size:large;
  text-align: center;
  border-radius: 1vh;
  border: 2px solid #ffffff;
  color: #ffffff;
  background: transparent;

}
#typeP::placeholder{
  color: #ffffff;
}
#frm1{
  height: 50vh;
  width: 100vw;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
}
.prblms {
  height: fit-content;
  width: 100%;
  margin: 1vh;
  padding: 1vh 2vw;
  text-align: left;
}
#findProBtn{
  height: 6vh;
  width: 20vw;
  border-radius: 1vw;
  border: 2px solid white;
  background: transparent;
}

#gs {
  z-index: -1;
  position: relative;
  top: 40vh;
  left: 70vw;
}
#header span {
  border: 2px solid blue;
  border-radius: 5px;
  padding: 5px;
  overflow: hidden;
}
#header span:hover{
  height: 5vh;
  width: max-content+1vw;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
#header span a {
  text-decoration: none;
}
#header span a:hover{
  margin: 1vh;
}
#header span a:link {
  color: white;
}
#header span a:visited {
  color: white;
}
#header span a:active {
  color: blue;
}
#btnS{
  height: 10vh;
  width: 98.7vw;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
#btnS button{
  height: 8vh;
  width: 24vw;
  padding: 1vh 2vw;
  background: transparent;
  border: 2px solid white;
  border-radius: 1vh;

}
#btnS button a{
  text-decoration: none;
  color: #ffffff;
  font-size:larger;
  font-weight: 700;
}
#mp {
 width: 98.7vw;
 height:50vmin;
 display: flex;
 justify-content: center;
 align-items: center;
 
}
#mp2{
  width: 100%;
  width: 70vw;
  display: flex;
  text-align: center;
  justify-content: center;
  flex-direction: column;
}