*{
  margin: 0;
  padding: 0;
}
body::-webkit-scrollbar{
  display: none;
}
body{
  background: linear-gradient(#d4d3d3, #A020F0);
  min-height: 100vh;
}
#header{
  height: 16vh;
  width: 100vw;
  background: black;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
#header span a{
  text-decoration: none;
  font-size: larger;
  color: white;
}
#header span,span{
  border: 2px solid blue;
  border-radius: 2vh;
  overflow: hidden;
  padding: 1vh 1vw;
}
#header span:hover{
  padding: 2vh 2vw;

}
#searchIpt{
  width: 16vw;
  height: 6vh;
  border-radius: 2vh;
  font-size: large;
}
#searchBtn{
  width: 5vw;
  height: 6vh;
  border-radius: 2vh;
  border: none;
  text-align: center;
  font-size: large;
}
#body{
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: fit-content;
}
#myprojects{
  width: 50vw;
  height: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.singlePro{
  height: fit-content;
  width: 100%;
  padding:6px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-left:2px solid white;
  border-right:2px solid white;
  border-radius: 10vw;
  margin-top: 4vh;
}
#code{
  text-align: left;
  height: fit-content;
  width: 50vw;
  overflow-y: scroll;
  background: white;
  border-radius: 5vh;
  padding: 3vh 1vw;
  color:darkgreen;
}
#project{
  height: fit-content;
  width: 50vw;
}
#code::-webkit-scrollbar{
  display: none;
}

#projectDetails{
  height: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2vh 2vw;
  flex-direction: column;
}
#projectDetails textarea{
  resize: none;
  border: 3px solid black;
}
#projectDetails textarea,p,input{
  margin-top: 2vh;
}
#projectDetails textarea,input{
  border: 2px solid blue;
  border-radius: 5vh;
  padding: 1vh 1vw;
}
.pdBtn{
  width: 20vw;
  height: 8vh;
  text-align: center;
  border: none;

}
#fileDetailsContainer div{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 2vh;
}
#profile{
  position: absolute;
  top: 25vh;
  left: 80vw;
  width: fit-content;
}
.addProbtn{
  height: 8vh;
  width: 18vw;
  font-size: x-large;
  font-weight: bolder;
  border-radius: 2vh;
  border: 2px solid blue;
  margin-top: 4vh;
  margin-bottom: 4vh;
}
#userDetails,#media{
  display: none;
  margin-top: 8vh;
  width: 16vw;
  padding: 4vh;
  overflow-y: scroll;
  text-wrap: nowrap;
  border-radius: 4vw;
}
#mediaInner{
  display: flex;
  height: fit-content;
  justify-content: space-between;
  align-items: flex-start;
}
#media::-webkit-scrollbar{
  display: none;
}
#userDetails,::-webkit-scrollbar{
  display: none;
}
#userDetails{
  height: fit-content;
  font-size: large;
  font-weight: 600;
}