*{
    margin: 0;
    padding: 0;
}
body::-webkit-scrollbar{
display: none;
}
.singlePS{
    background-color: rgb(225, 224, 224);
    border: 2px solid lightgray;
    border-radius: 5px;
    color: black;
    margin: 2vh;
    text-align: center;
}
.singlePS h3,h4,p{
    margin: 1vh;
}
.header{
    height: 10vh;
    width: 100vw;
    background-color: gray;
}
.footer{
    height: 10vh;
    width: 100vw;
}
.main{
    height: fit-content;
    width: 100vw;
    overflow: scroll;
}
.main::-webkit-scrollbar{
    display: none;
}