body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  }
body::-webkit-scrollbar{
  display: none;
}
  h1 {
    text-align: center;
    color: #333;
  }
  
  #signupForm {
    height: 100vh;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 40vw;
  }
  
  .form-group {
    margin-bottom: 20px;
  }
  
  label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
  }
  
  input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-bottom: 15px;
  }
  
  button {
    background-color: #3498db;
    color: #fff;
    padding: 12px;
    font-size: 16px;
    cursor: pointer;
    border: none;
    border-radius: 4px;
    width: 100%;
    transition: background-color 0.3s ease;
  }
  
  button:hover {
    background-color: #2980b9;
  }
  