<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>forget Password</title>
    <link rel="icon" href="/images/head.png" type="image/png">
    <link rel="stylesheet" href="/style/common.css">
    <link rel="stylesheet" href="/style/forgotpwd.css">
</head>

<body>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <h1>forget password</h1>
        <h1>
            <%= message %>
        </h1>
    <div class="main">
        
        <form action="/forgetPwd" method="post">
            <label for="upName">Enter the user name</label>
            <input type="text" placeholder="Enter the username" name="upN" id="upName">
            <button type="submit" onclick="confirmm()">Submit</button>
            <p>Got The Password <a href="/login">Login to Continue</a></p>
        </form>
    </div>
    <script src="/js/forgotPass.js"></script>
</body>

</html>