<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Groups page</title>
    <link rel="icon" href="/images/head.png" type="image/png">
    <link rel="stylesheet" href="/style/common.css">
    <link rel="stylesheet" href="/style/groups.css">
    <script src="https://cdn.tailwindcss.com"></script>
</head>

<body>
    <div id="header">
        <span><a href="" id="home">Home</a></span>
        <span><a href="" id="group">Groups</a></span>
        <span><a href="" id="problems">Problems</a></span>
        <span><a href="" id="FindProjects">Find Projects/Idea</a></span>
    </div>
    <div id="cGF" class="h-max w-full"></div>
    <div id="main">
        <% groupList.forEach(i=>{ %>
        <div class="border-2 border-black rounded-lg m-3 w-3/5 h-16 flex items-center justify-between bg-gray-200">
            <div>
                <h1 class="text-2xl font-black" id="grpName"><%= i.grpName %></h1>
                <h4 class="text-sm font-black" id="grpDes"><%= i.groupDes %></h4>
            </div>
            <div class="w-1/5 border-2 border-black rounded-lg flex justify-center items-center h-3/4">Join Chat</div>
        </div>
        <% }) %>
        <button id="joinGrp" onclick="createGroup()">
            <img src="/images/images.jpg" alt="Create Logo">
            <p>Create a Group</p>
        </button>
        <button id="addMemberBtn" onclick="addMember()" >Add Member</button>

    </div>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <script src="/js/group.js"></script>
</body>
</html>
