<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="icon" href="/images/head.png" type="image/png">
    <link rel="stylesheet" href="/style/home.css">
    <link rel="stylesheet" href="/style/common.css">
</head>

<body>
    <div id="nav">
        <div id="nleft">
            <span><img src="/images/sf.png" alt="">
                <h1>Stellar Forge</h1>
            </span>

        </div>
        <div id="nright">
            <a id="sS" href="/problems/seeSolution" type="submit" class="seeSol">See Problem Solutions</a>
            <a href="/user/FindProjects" class="seeSol">Find Projects</a>
        </div>
    </div>
    <div id="main">
        <div id="left">
            <p class="">Hello 👋🏼,</p>
            <p>Welcome to,
                <span>
                    <div>⏩<span id="flex">Stellar Forge</span>⏮️</div>
                </span>
            </p>
            <p id="showcase"></p>
        </div>
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320">
            <path fill="#ff2cdf" fill-opacity="1"
                d="M0,160L80,138.7C160,117,320,75,480,90.7C640,107,800,181,960,213.3C1120,245,1280,235,1360,229.3L1440,224L1440,0L1360,0C1280,0,1120,0,960,0C800,0,640,0,480,0C320,0,160,0,80,0L0,0Z">
            </path>
        </svg>
        <div id="right">
            <div class="indiv">
                <div class="indiv2">
                    <button>
                        <a href="/login">
                            <h1>Login</h1>
                    </button>
                </div>
            </div>
            <div class="indiv">
                <div class="indiv2">
                    <button>
                        <a href="/signup">
                            <h1>Sign up</h1>
                        </a>
                    </button>
                </div>
            </div>
        </div>
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320">
            <path fill="#ff2cdf" fill-opacity="1"
                d="M0,160L80,138.7C160,117,320,75,480,90.7C640,107,800,181,960,213.3C1120,245,1280,235,1360,229.3L1440,224L1440,0L1360,0C1280,0,1120,0,960,0C800,0,640,0,480,0C320,0,160,0,80,0L0,0Z">
            </path>
        </svg>
        <div class="features1">
            <div class="align2">
                <div>
                    <pre>click on "Groups" ➡️</pre>to create a group where you can talk with your Friends
                </div>
                <div>
                    <pre>click on "Problems" ↗️</pre> to solve your problems with along with whole Stellar Forge
                </div>
                <div>
                    <pre>Click on "Find Project/Idea"↗️</pre> to get a project/Idea i
                </div>
                <div>
                    <pre>Click on "Read Above file "➡️</pre> to see the code inside the file
                </div>
            </div>
            <img src="/images/sfProfile.png" alt="Stellar Forge Profile Example">
            <div class="align1">
                <div>⬅️ Enter Your Friend Username fo visit his profile</div>
                <div>⬅️ click on "See Profile Details" to see Your The profile Details </div>
                <div>⬅️ click on "Edit Profile" to Edit Your profile details such as password, Role and to unFollow
                    friend and delete any project</div>
                <div>↖️ click on "Add Project" to Upload project which can be seen By Your friends</div>
            </div>
        </div>
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320">
            <path fill="#ff2cdf" fill-opacity="1"
                d="M0,160L80,138.7C160,117,320,75,480,90.7C640,107,800,181,960,213.3C1120,245,1280,235,1360,229.3L1440,224L1440,0L1360,0C1280,0,1120,0,960,0C800,0,640,0,480,0C320,0,160,0,80,0L0,0Z">
            </path>
        </svg>
        <div class="features1">
            <div class="align2">

                <div>
                    <pre>Click on "Join chat"➡️</pre>And now You can send text to your Friend present in that Group
                </div>
            </div>
            <img src="/images/sfGroups.png" alt="Stellar Forge Profile Example">
            <div class="align1">
                <div>↙️ click on "Add member" to Add Your friend in a Group.</div>
                <div>↙️ click on "Create Group" to create a Group or team where You can chat with your team members
                </div>
            </div>
        </div>
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320">
            <path fill="#ff2cdf" fill-opacity="1"
                d="M0,160L80,138.7C160,117,320,75,480,90.7C640,107,800,181,960,213.3C1120,245,1280,235,1360,229.3L1440,224L1440,0L1360,0C1280,0,1120,0,960,0C800,0,640,0,480,0C320,0,160,0,80,0L0,0Z">
            </path>
        </svg>
        <div class="features1">
            <div class="align2">
                <div>
                    <pre>Click on "Give Solution"↘️</pre>To get help them in Solving the problem 🥹
                </div>
                <div>
                    <pre>Under "My Problems"↘️</pre>All Your problems that you are posted with us is present
                </div>
            </div>
            <img src="/images/sfProblems.png" alt="Stellar Forge Profile Example">
            <div class="align1">
                <div>⬅️ When You stuck on a Problem 😣 on it just fill the from and Hit "Enter" to Post your problem.
                    <p>You will get Your answer soon</p>
                </div>
                <div>↙️ click on "See Solutions" to see a the solutions To a particular problem👀
                </div>
            </div>
        </div>
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320">
            <path fill="#ff2cdf" fill-opacity="1"
                d="M0,160L80,138.7C160,117,320,75,480,90.7C640,107,800,181,960,213.3C1120,245,1280,235,1360,229.3L1440,224L1440,0L1360,0C1280,0,1120,0,960,0C800,0,640,0,480,0C320,0,160,0,80,0L0,0Z">
            </path>
        </svg>
        <div class="features1">
            <div class="align2">
                <div>
                    <pre>Click on "Add Above file"➡️</pre> To 👀 the code of that File
                </div>
            </div>
            <img src="/images/sfFProfile.png" alt="Stellar Forge Profile Example">
            <div class="align1">
                <div>⬅️ Click on "Add to Friend" to follow that user.</div>
                <div>⬅️ Under "User Details" you can 👀(see) the user Details such as Email</div>
                <div>↙️ Under "Following and Followers" section you can 👀 the users Follows and Followings</div>
            </div>
        </div>
    </div>
    <div id="svg">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320">
            <path fill="#000b76" fill-opacity="1"
                d="M0,160L48,144C96,128,192,96,288,112C384,128,480,192,576,208C672,224,768,192,864,160C960,128,1056,96,1152,112C1248,128,1344,192,1392,224L1440,256L1440,320L1392,320C1344,320,1248,320,1152,320C1056,320,960,320,864,320C768,320,672,320,576,320C480,320,384,320,288,320C192,320,96,320,48,320L0,320Z">
            </path>
            <text x="50%" y="80%" dominant-baseline="middle" text-anchor="middle" fill="white" font-size="24"
                font-family="Arial" font-weight="bolder">
                @2024 Stellar Forge ▶️▶️▶️G2
            </text>
        </svg>
    </div>
    <script src="https://unpkg.com/typed.js@2.1.0/dist/typed.umd.js"></script>
    <script src="/js/home.js"></script>
    <script>
        var typed = new Typed('#showcase', {
            strings: ['Click On Login 👇🏼 To Continue.', 'If You Are New Here Create An Account By Signup 👇🏼'],
            typeSpeed: 100,
        });
    </script>
</body>

</html>