<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Enter Otp</title>
    <link rel="icon" href="/images/head.png" type="image/png">
    <link rel="stylesheet" href="/style/common.css">
    <link rel="stylesheet" href="/style/otp.css">
</head>
<body>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <h1><%= message %></h1>
    <form action="" method="post" id="main">
        <label for="otp">Enter the otp</label>
        <input type="number" name="otp" id="otp">
        <input type="submit" value="Verify">
    </form>
</body>
</html>