<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Problems</title>
    <link rel="icon" href="/images/head.png" type="image/png">
    <link rel="stylesheet" href="/style/common.css">
    <link rel="stylesheet" href="/style/problems.css">

</head>

<body>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <div id="header">
        <span><a href="" id="home">Home</a></span>
        <span><a href="" id="group">Groups</a></span>
        <span><a href="" id="problems">Problems</a></span>
        <span><a href="" id="FindProjects">Find Projects/Idea</a></span>
        <div>
            <form action="" id="searchIpt">
                <input type="text" placeholder="Enter the problems to find">
                <button type="submit">Enter</button>
            </form>
        </div>
    </div>
    <div class="main">
        <form id="frm1" method="post">
            <label for="typeP" id=>Enter the type of Problem</label>
            <textarea name="typeP" id="typeP" cols="10" rows="1" required></textarea>
            <textarea name="problemI" id="problemd" cols="30" rows="10" required
                placeholder="Enter Your problems Here!"></textarea>
            <button type="submit" class="quesEntr">Enter</button>
        </form>
        <button><a id="gS">Give the Solution</a></button>
        <button><a id="sS" type="submit" class="seeSol">See the Solutions</a></button>
        <div id="mp">
            <h1>My problems</h1>
            <% const problems=myProblems.sort() %>
            <% problems.forEach(i=>{ %>
            <div class="prblms">
                <h4>Type of Problem :- <%= i.typeP %></h4>
                <p>Description :- <%= i.problemI %></p>
            </div>
            <% }) %>
        </div>

    </div>
    <div class="footer">
        Footer
    </div>
    <script src="/../js/problems.js"></script>
</body>

</html>